{% include 'partials/header.html' %}

    {% block content %}
    
    <div class="jumbotron">
        <h1 class="display-4">{{ title }}</h1>
    
        <hr class="my-4">
        <p>{{ instr }}</p>
        <img class="my-4" src="{{ img }}" alt="bilde"> 
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/insp" role="button">Refresh</a>
        </p>
        <a href=" {{ src }}"> Gå til nettsiden</a>
       
    </div>    

    {% endblock %}


   
      

{% include 'partials/footer.html' %}